.App {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: Inter;
}

.keyboard {
  width: 48%;
  height: 30vh;
}

.letter-key {
  margin: 0.1rem 0.2rem;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
}

#black {
  color: black;
}

#red {
  color: red;
}

#green {
  color: green;
}
