.container {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  display: flex;
  gap: 8px;
}

.editButton {
  border: none;
  background: transparent;
  cursor: pointer;
}

.deleteButton {
  border: none;
  background: transparent;
  cursor: pointer;
  color: red;
  font-weight: bold;
}
